.sun {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fe9040+0,ff5040+99 */
    background: #fe9040;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #fe9040 0%, #ff5040 99%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #fe9040), color-stop(99%, #ff5040));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #fe9040 0%, #ff5040 99%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #fe9040 0%, #ff5040 99%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #fe9040 0%, #ff5040 99%);
    /* IE10+ */
    background: linear-gradient(135deg, #fe9040 0%, #ff5040 99%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fe9040', endColorstr='#ff5040', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}
.moon {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4b4c4d+0,323333+100 */
    background: #4b4c4d;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #4b4c4d 0%, #323333 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #4b4c4d), color-stop(100%, #323333));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #4b4c4d 0%, #323333 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #4b4c4d 0%, #323333 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #4b4c4d 0%, #323333 100%);
    /* IE10+ */
    background: linear-gradient(135deg, #4b4c4d 0%, #323333 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4b4c4d', endColorstr='#323333', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}
.blood {
    background-color: #ff5040;
}
.header {
    padding: 10%;
}
.navibar {
    position: fixed;
    width: 100%;
    padding: 3%;
    z-index: 4;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}
.logo {
    height: 200px;
}
.footer {
    padding: 3%;
}
