$blood: #ff5040;
$gray: #e1e4e5;
$white: #f5f9fa;
$black: #323333;
$sun: linear-gradient(135deg, #fe9040 0%, #ff5040 99%);
$moon: linear-gradient(135deg, #4b4c4d 0%, $black 100%);
$paper: linear-gradient(135deg, $white 0%, $gray 100%);

$red: #ff5040;
$orange: #fe9040;
$yellow: #ffcf40;
$lime: #b0ff40;
$green: #5fff40;
$aquamarine: #3ffccd;
$cyan: #40dfff;
$blue: #40b0ff;
$electric: #3f6efc;
$purple: #8f40ff;
$violet: #ef40ff;