$blood: #ff5040;
$gray: #e1e4e5;
$white: #f5f9fa;
$black: #323333;
$sun: linear-gradient(135deg, #fe9040 0%, #ff5040 99%);
$moon: linear-gradient(135deg, #4b4c4d 0%, $black 100%);
$paper: linear-gradient(135deg, $white 0%, $gray 100%);
