header {
    background: $sun;
    //flex
    display: flex;
    justify-content: center;
    align-items: center;
    //box
    padding: 50px 0;
    p,
    h1 {
        text-align: left;
    }
    img {
        width: 100px;
        padding: 10px;
    }
}
