<!DOCTYPE html>
<html lang="en" class="blood" ng-app="DevRefApp" ng-controller="mainCtrl">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- To avoid # in Angular -->
    <base href="/">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/bootstrapFixes.css">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/responsiveSquares.css">


    <!-- Angular JS and Modules -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>

</head>

<body>

    <!-- Header -->
    <header class="bg-dark sun" name="top">

        <nav class="navbar navbar-fixed-top customnavbar navbar-light sun" id="nav">
            <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#collapsible">
                &#9776; <strong>DEVREF</strong>
            </button>
            <div class="collapse navbar-toggleable-sm" id="collapsible">
                <a class="navbar-brand hidden-sm-down" href="/"><strong>DEVREF</strong></a>
                <ul class="nav navbar-nav pull-right">
                    <li class="nav-item" ng-repeat="navitem in data.MainArr | limitTo:6">
                        <a class="nav-link" href="/{{navitem.name | lowercase}}">{{navitem.name | uppercase}}</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="header text-center">
            <img class="logo text-center" ng-src="{{data.header.img}}" ng-if="location">
            <h1><img class="logo2" ng-src="{{data.header.img}}" ng-if="!location"><strong>{{data.header.name}}</strong></h1>
            <p class="text-uppercase lead" id="navref">{{data.header.desc}}</p>
        </div>

    </header>

    <!-- Content -->
    <section class="text-center blood">

        <div ng-view autoscroll></div>

    </section>

    <!-- Footer -->
    <footer class="text-center footer blood">

        <div>
            <small>Designed and coded by <a href='mailto:x.a.reyes-ochoa@hotmail.com'>Xavi Ro</a>. 2015</small>
            <hr>
            <small>"This is a work in progress"</small>

        </div>

    </footer>


    <!-- jQuery first, then Bootstrap JS. -->
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <!-- Custom JQuery and Angular scripts -->
    <script src="js/navbar.js"></script>
    <script src="js/app.js"></script>

</body>

</html>
