<link rel="stylesheet" type="text/css" href="./assets/css/css/style.css">
<section id="section-css" ng-controller="cssCtrl">
    <div class="legend">
        <div>
            VERSION 1
            <span class="circle sm green"></span> 2
            <span class="circle sm yellow"></span> 3
            <span class="circle sm red"></span>
        </div>
        <div>
            ANIMATABLE
            <span class="circle sm purple"></span>
        </div>
        <div>
            SHORTHAND
            <span class="circle sm black"></span>
        </div>
        <div>SEARCH
            <input ng-model="search" />
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>
                    <h4>TYPE</h4></th>
                <th>
                    <h4>PROPERTY</h4></th>
                <th>
                    <h4>DESCRIPTION</h4></th>
                <th>
                    <h4>SYNTAX</h4></th>
                <th>
                    <h4>EXAMPLE</h4></th>
                <th>
                    <h4>VISUAL</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in data | filter:{ Property: search }" ng-style="{'background-color': palette[row.color]}">
                <td>{{row.Type}}</td>
                <td>{{row.Property}}</td>
                <td>{{row.Description}}</td>
                <td>{{row.Syntax}}</td>
                <td>{{row.Example}}</td>
                <td>
                    <span class="circle lg" ng-class="{'purple': row.Animatable == 'yes'}">
                        <span class="circle md" ng-class="{1: 'green', 2: 'yellow', 3: 'red'}[row.CSS]">
                            <span class="circle sm" ng-class="{'black': row.Shorthand === 'X'}"></span>
                    </span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <!--     <table>
        <tr >
            <td>{{row.Property}}</td>
            <td>{{row.Description}}</td>
            <td>{{row.Syntax}}</td>
        </tr>
    </table> -->
</section>
